<app-header></app-header>

<main>
    <ul id="users">
        @for (user of users; track user.id) {
            <li>
                <app-user 
                    [user]="user"
                    [selected]="user.id === selectedUserId"
                    (select)="onSelectUser($event)">
                </app-user>
            </li> 
        }
    </ul>
    <!-- alternative - older version, we also have to import NgFor in the app component in the imports array -->
    <!-- <li *ngFor="let user of users">
        <app-user [user]="user" (select)="onSelectUser($event)"> </app-user>
    </li>  -->

    @if (selectedUser) {
        <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name"></app-tasks>
    } @else {
        <p id="fallback">Select a user to see their tasks.</p>
    }
    
</main>
